/* .games-page-wrapper {
 
} */

.games-page__header {
  width: 100%;
  min-height: 100vh;
  background: url("imagesGamesPage/earth-1756274_1920.jpg") center/cover no-repeat;
  position: relative;
}

.obj-Hero {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("imagesGamesPage/free-icon-rocket-ship-2949146.png") center/cover no-repeat;
  position: absolute;
  /* z-index: 5; */
}