.home-header__container {
  /* height: 50px; */
  min-height: 50px;
  padding: 10px 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.home-header__logo {
  min-width: 100px;
}

.header-nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-inline: 10px;
}

.header-nav .active {
  color: yellow;
  font-weight: 500;
}
.header-nav .active::after {
  background-color: yellow;
  transform: scale(0.9);
}

.header-nav a {
  position: relative;
}

.header-nav a:hover {
  transition: all .25s ease;
  color: #17baaa;
}

.header-nav a::after {
  background: #17baaa;
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all .25s ease;
  width: 100%;
}

.header-nav a:hover::after {
  transform: scale(1);
}


/* .header-nav__login {

} */

.login-btn {
  font-style: italic;
  padding: 2px 5px;
  border: 1px solid white;
  border-radius: 5px;
  transition: all .25s ease;
}

.login-btn:hover {
  color: #17baaa;
  border: 1px solid #17baaa;
}