/* .ours-solar-wrapper {
  
} */


/* section  Header  ========================== */

.ours-solar {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0.30) 50%, rgba(0, 0, 0, 0.8) 92%), 
    url("../../../images/OurSolarSystem/plasticine_solar_system_photo_2.jpeg") center / 100% no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}



.ours-solar__header {
  padding-top: 100px;
  padding-bottom: 50px;
  color: white;
}

.ours-solar__header h1 {
  font-size: 32px;
  font-weight: 500;
  text-indent: 15px;
  text-align: center;
}


/* section SolarSystemPresentation  ============ */

.solar-system {
  padding-block: 20px;
  background: rgb(24,22,22);
  background: linear-gradient(180deg, rgba(24,22,22,1) 0%, rgba(61,76,79,1) 63%, rgba(24,80,91,1) 100%);
}

.solar-system h3 {
  padding: 10px 20px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}


.system__items__fact {
  color: white;
  margin-bottom: 10px;
}

.system__items__fact h4 {
  font-size: 20px;
  padding: 5px 20px;
  font-weight: 500;
}

.system__items__fact p {
  text-indent: 10px;
  margin-bottom: 5px;
}

.system__items__fact ul {
  padding-left: 30px;
}

.system__items__fact li {
  list-style-type: disc;
}

.system__items__fact li::marker {
  font-weight: 500;
  color: white;
}

.system__items__fact li span {
  font-weight: 500;
}




/* section  Planets  ========================== */

.ours-planets {
  padding-block: 20px;
  background: rgb(85,81,77);
  background: linear-gradient(90deg, rgba(85,81,77,1) 0%, rgba(17,145,170,1) 51%, rgba(162,168,167,1) 100%);
}

.ours-planets__title h2 {
  padding: 20px;
  font-size: 32px;
  font-weight: 500;
  color: white;
  text-align: center;
}


.ours-planets__subtitle h2 {
  font-size: 24px;
  padding: 10px;
  padding-top: 30px;
  color: white;
  text-align: center;
}


.star-sun.planet-board {
  padding: 20px;
  display: flex;
  /* flex-direction: row; */
  gap: 30px;
  align-items: start;
  justify-content: center;

}

.star-sun .planet-board__image {
  max-width: 45%;
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px orange;
}

.star-sun .planet-board__items {
  /* max-width: 45%; */
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px grey;
}

.star-sun .planet-board__items h3 {
  font-size: 22px;
}



/* .planet-block {
  
} */

.planet-block > :nth-of-type(even) {
  /* box-shadow: 0px 0px 5px 0px white;
  border-radius: 5px; */
  justify-content: end;
}



.planet.planet-board {
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  align-items: center; 
}


.planet .planet-board__image {
  /* max-width: 350px; */
  flex: 0 1 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px orange;
  transition: all 0.3s linear;
  aspect-ratio: 1/1;
}

.planet .planet-board__image:hover {
  z-index: 3;
}

.planet-board__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.planet .planet-board__items {
  /* max-width: 350px; */
  flex: 0 1 550px;
  background-color: white;
  padding: 20px 20px 20px 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px grey;

  transform: translateX(-25px);
}

.planet-board__items h3 {
  font-size: 20px;
  font-weight: 500;

}