.home-block-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* overflow: clip; */
}

.home-block-wrapper > header {
  background-color: #333;
  /* height: 50px; */
  width: 100%;
  z-index: 5;
  opacity: 0.9;
  position: fixed;
  top: 0;

}

.home-block-wrapper > main {
  background-color: #fff;
  flex-grow: 1;
}

.home-block-wrapper > footer {
  border-top: 2px solid white;
  /* background-color: black; */
  background-color: #555;
}